
.course, .item {    
    color: teal;
    padding-top: 3px;
}

.courseLink, .courseLink:link, .courseLink:visited, courseLink:active,
.itemLink, .itemLink:link, .itemLink:visited, .itemLink:active {
    color: teal;    
    text-decoration: none;    
    padding-left: 0px;
    padding-right: 0px;
}

.navy {
    color: navy;
}

.courseLink:hover, .itemLink:hover {
    /* color: navy; */
    text-decoration: underline;    
}

.courseHeader, .itemHeader {
    color: orange;    
}

.courseName, .itemName {
    display: inline-block;
    width: 400px;
}

.courseDuration {
    display: inline-block;
    width: 200px;
}
 
.materialContent {    
    background: white;
    border: 1px dotted gray;
    padding: 5px;
}

.testContent {    
    background: #fffffa;
    border: 1px dotted gray;
    padding: 5px;
}

.subjectNavigation {
    display: inline-block;
    float: right; 
    text-align: right;
}

.testResultOk {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-bottom:5px;
}

.testResultErrors {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-bottom:5px;
}

.wrongAnswer {
    color: red;
}