@model AspNetMvcTutorial.Models.Project

<h3>Witamy na stronie głównej platformy edukacyjnej ELE!</h3>
<br />
<b>Dostępne kursy:</b>
<br />
<br />

<div class="courseHeader">
    <span class="courseName">Nazwa kursu</span>
    <span class="courseDuration">Czas trwania</span>
</div>
@foreach (var course in @Model.ProjectCourses)
{
    <div class="course">
        <span class="courseName"><a href="/Course/Main/@course.ID" class="courseLink">@course.Name</a></span>
        <span class="courseDuration">@course.EstimatedDuration<span>h</span></span>
    </div>
}


