@model AspNetMvcTutorial.Models.Test

    <br />
    <br />
    @{
        if (Model.TestQuizzes.Count>0) {
            using(Html.BeginForm("AnswerQuiz", "Course", FormMethod.Post))
            {
                <fieldset>
                    @foreach(var quiz in Model.TestQuizzes) 
                    {
                        <div class="quizContent">
                            Html.Raw(quiz.Name + ". ")
                            Html.Raw(quiz.QuestionText)
                            <br /><br />
                            @for(var i = 0; i<quiz.Answers.Count ; i ++) {
                                @Html.Raw(quiz.Answers[i].Name + ". ")                  
                                @Html.Raw(quiz.Answers[i].AnswerText + " ")
                                @Html.ValuedCheckBox("userAnser", i)
                                <br />
                            }
                            <br />            
                        </div>
                    }
                </fieldset>
                <input type="submit" style="font-size: 1em; font-weight: normal" value="Check" onclick="alert('Opcja w przygotowaniu');" /> 
            }
        }       
    }   
    