@model AspNetMvcTutorial.Models.Module

<h3>Kurs: <a href="/Course/Main/@ViewBag.CourseId" class="itemLink navy">@ViewBag.CourseName</a></h3>
<br />
<b>Moduł: @Model.Name</b>
<br />
<br />
<b>Wybierz temat:</b>
<br />
<br />

<div class="itemHeader">
    <span class="itemName">Temat</span>    
</div>
@foreach (var subject in @Model.ModuleSubjects)
{
    <div class="item">
        <span class="itemName"><a href="/Course/Subject/@subject.ID/1" class="itemLink">@subject.Name</a></span>
    </div>
}


